<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
ErrorDocument 400 /Memoria/MDBpages/Error.php
ErrorDocument 401 /Memoria/MDBpages/Error.php
ErrorDocument 402 /Memoria/MDBpages/Error.php
ErrorDocument 403 /Memoria/MDBpages/Error.php
ErrorDocument 404 /Memoria/MDBpages/Error.php
ErrorDocument 405 /Memoria/MDBpages/Error.php
ErrorDocument 406 /Memoria/MDBpages/Error.php
ErrorDocument 407 /Memoria/MDBpages/Error.php
ErrorDocument 408 /Memoria/MDBpages/Error.php
ErrorDocument 409 /Memoria/MDBpages/Error.php
ErrorDocument 410 /Memoria/MDBpages/Error.php
ErrorDocument 411 /Memoria/MDBpages/Error.php
ErrorDocument 412 /Memoria/MDBpages/Error.php
ErrorDocument 413 /Memoria/MDBpages/Error.php
ErrorDocument 414 /Memoria/MDBpages/Error.php
ErrorDocument 500 /Memoria/MDBpages/Error.php
ErrorDocument 501 /Memoria/MDBpages/Error.php
ErrorDocument 502 /Memoria/MDBpages/Error.php
ErrorDocument 503 /Memoria/MDBpages/Error.php
ErrorDocument 504 /Memoria/MDBpages/Error.php
ErrorDocument 505 /Memoria/MDBpages/Error.php
order deny,allow
